@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './varaibles.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: url('../assets//img/background-rick-and-morty.png');
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}